.box{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    align-items: center;
    font-size: 20px;
}

button {
  
    background-color: #00ff15;
  
    color: white;
  
    cursor: pointer;
  
    border: none;
  
    width: 100px;
  
  }



  .area {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border: 2px black solid;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .imgClick {
    width: 100px;
    position: absolute;
    cursor: pointer;
  }